.map {
  height: 500px;
  background-color: #fff;
  padding: 1rem;
  border-radius: 20px;
  margin-top: 20px;
  box-shadow: 0 0 8px -4px rgba(0, 0, 0, 0.5);
}

.map .leaflet-container {
  height: 100%;
}

.info-flag img {
  width: 100px;
  border-radius: 5px;
}

.info-flag {
  height: 80px;
  width: 100%;
  background-size: cover;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info-container {
  width: 170px;
}

.info-confirmed,
.info-recovered,
.info-deaths {
  font-size: 16px;
  margin-top: 5px;
  font-weight: bold;
}
.info-confirmed {
  color: #555;
}
.info-recovered {
  color: green;
}

.info-deaths {
  color: red;
}

.info-name {
  font-size: 18px;
  font-weight: bold;
  color: #555;
  text-align: center;
  margin-top: 5px;
}
